#imitationgram{
	float:left;
		z-index: 1;
}

.form-signin{
	margin-top: 50vh; 
	transform: translateY(-50%);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
	padding: 25px;
	input{
		width: 45%;
		margin-bottom: 10px;
	}
	.from-btn-imitation{
		margin:5px;
		padding: 10px 25px;
		border: 1px solid #000;
		
	}
}
.header-profile-imitation{
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	h1{
		font-size: 2.2rem;
	}
}
.image-rendered{
	position: -webkit-sticky;
	position: sticky;
	top: 50px;
	width: 50%;
	height: 50%;
	text-align: center;
	margin: 0 auto;
	z-index:10;
	.filter{
		position: relative;
	}
	figure{
		margin: 0;
	}
	img{

		width: 100%;
		height: 100%;
	}
}

#edit-panel{
	width: 90%;
	height: 100%;
	z-index: 2;
	overflow: hidden;

	span{
		font-size: 1.1rem;
	}
	input{
		width: 95%;
		margin-left: 50px;
	}
	#filter-value{
		float: right;
	}
	.item-slider{
		margin: 25px;
	}
}
#filters-items{
z-index:5;
	width: 100%;
	height: 400px;
	overflow-y:scroll;
	.thumb-filter{
		text-align: center;
		img{
			display:none;
			height: 100%;
			width:100%;
		}
	}
}

.title-filter-p{
	font-size: 1.1rem;
}
.modal-imitation{
	height: 300px;


	.dropzone{
		height: 100%;
		width:100%;
	}
}
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $orange;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
/*TIMELINE*/

.timeline{
	@include text-align-centered;
	.thumbnail-image-timeline{
		width: 50%;
		height: 50%;
		.image-content-timeline{
			img{
				width: 100%;
    			height: 250px;
				object-fit: cover;
			}
		}
	}
}
.thumbnail-image-timeline{
	.header-image-timeline{
		width: 100%;
		height: 10%;
		display: flex;
		font-weight: bold;
		flex-direction: row;
		align-items: center;
		justify-content: left;
		.picture-profile-thumb{
			height: 100%;
			img{
				height: 100%;
				padding: 0.3em 0.3em;
			}
			
		}
	}
}
/*EDIT PAGE */

.btn-edit-image{
	margin: 3em 0;
}
/*END OF PAGE*/
.thumbnail-image{
	margin-bottom: 10px;
	margin-left: 10px;
	width: 250px;
	height: 250px !important;
	position: relative;
	background: black;
	z-index: 1;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
}
@media only screen and (min-width: 481px) {}
@media only screen and (min-width: 768px) {
	.image-rendered{
		padding:50px ;
	}
	#filters-items{
		.thumb-filter{
			display: inline-block;
			width: 9%;
			height:9%;
			margin:5px;
			img{
			display:block;
			}
		}
	}
}
@media only screen and (min-width: 1030px) {



	#edit-panel{
	 padding-left: 10px;
	 	
	z-index: 2;
	overflow: hidden;

	#filters-items{
		.thumb-filter{
			&:hover{
				cursor: pointer;
			}
		}
	}
	span{
		font-size: 1.1rem;
	}

	input{
		width: 95%;
		margin-left: 50px;
	}
	#filter-value{
		float: right;
	}
	.item-slider{
		margin: 25px;
	}
}

}

@media only screen and (min-width: 1800px) {
	#imitationgram{
	width: 65%;
}
.list-images-user{
	display: flex;
	flex-wrap: wrap;
	flex-direction:  row;
	justify-content: flex-start;
	margin: 0;
	padding: 0;

	li:hover .overlay {
	    display:block;
	    background-color:black;
	    opacity:0.75;
	}


	.overlay{
		 width:100%;
	 	height:100%;
		display:none;
	    position:absolute;
	    top:0px;
	    left:0px;
	    text-align: center;
	    &:hover{
	    	background-color:black;
		    opacity:0.75;
	    }
	    div{
		     position:relative;
		    display:inline-block;
		    top:50%;
		    margin:-50% 5px 0 0;
	    }
	}
}

	#edit-panel{
	width: 30%;
	padding-left: 0;
}
}