#about {
   

    h1 {
        color: $grey-title;
    }

    h3 {
        color: $grey-title;
    }

    #texte-presentation {
        text-align: left;
    }

    .divers {
        margin-top: 30px;
    }
}
.bio{ margin-bottom: 25px; }


.about-content {text-align: center;}

.about-content {width: 100%;
}


.hobbies {
    .hobbie-item{
        box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    }
    span{
        margin-bottom: 20px;
    }
        .hobby-title {
           font-size: 1.25rem;
            margin-bottom: 20px;
        }
}

@media only screen and (min-width: 481px) {
    // styles in 1030up.scss
}

// end of media query

@media only screen and (min-width: 768px) {

    // styles in 1030up.scss

    .hobbies {
       display: flex;
       flex-direction: row;
     justify-content: space-between;

       .hobbie-item{
        padding: 1.5rem;
        width: 23%;
       }
       .icon {

            margin-right: 25px;
            vertical-align: middle;

            &:last-child {
                margin-left: 0
            }
        }
    }

}

// end of media query

@media only screen and (min-width: 1030px) {

    // styles in 1030up.scss
    .bio {
        img {
            margin-bottom: 25px;
            margin-right: 25px;
        }

        #text-presentation {
            width: 1150px;
        }
    }

    .about-content {

        height: 400px;

    }

    .about {
        width: 100%;

        margin: 0;


    }

    .hobbies {
        margin-top: 20px;
        width: 100%;

        .icon {
            margin-right: 3%;
        }
    }

}

// end of media query