#battlecard{
	position: absolute;
	width: 100%;
	text-align: center;
	.elements-battlecard{
		display: inline-block;

		position: relative;
		float: left;
	}
	h1{
		text-align: center;
	}
	h3{

		color: $grey;
	}
	/*TARGET*/
	.target{

		height: 660px;
		width: 100%;
		border: 1px solid $lightgrey;
		.player-part{
			position: relative;
			float :left;
			margin: 0 auto;
			padding: 0;
			width: 49.5%;
			height: 100%;

		}

		#player-2-part{
			&:hover{
				background:$grey;
			}
		}
		#player-1-part{
			&:hover{
				background:$grey;
			}
		}

	}



	.player{
		width: 25%;
		.card-game{
			width: 90%;

			border:#d6d6d6 solid 1px;
			margin-bottom: 10px;
			border-radius: 10px;

		}
	}
	.card-game{
		.card-game-image{
			height: 100%;
			width: 41%;
			padding: 4px 0 0 8px;
			float: left;
			img{
				border-radius: 3px;
			}

		}
		.card-game-details{
			width: 51%;
			float: right;
			ul{
				padding:0;
			}
		}
	}

	#battlegound{
		width: 50%;
	}

	.player-modal{
		width: 100%;
		height: 30px;
		color:  $grey;

	}

	

	.button-battle{
		margin-top: 10px;
		text-transform: none;
		cursor: pointer;
		font-family: Tahoma, Geneva, sans-serif;
		color: #ffffff;
		font-size: 18px;
		font-weight: bold;
		padding-right: 25px;
		padding-left: 25px;
		border-radius: 5px;
		border-radius: 5px;
		border-width: 3px;
		border-color: #99a2a7;
		border-style: solid;
		background: -moz-linear-gradient(top, #99a2a7 0%, #99a3a5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99a2a7), color-stop(100%, #99a3a5));
		background: -webkit-linear-gradient(top, #99a2a7 0%, #99a3a5 100%);
		background: -o-linear-gradient(top, #99a2a7 0%, #99a3a5 100%);
		background: -ms-linear-gradient(top, #99a2a7 0%, #99a3a5 100%);
		background: linear-gradient(to bottom, #99a2a7 0%, #99a3a5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99a2a7', endColorstr='#99a3a5', GradientType=0);
		transition-property: all;
		transition-duration: 100ms;
		transition-timing-function: ease;

		&:hover{
			border-width: 3px;
			border-color: #8d9294;
			border-style: solid;
		}
	}

}


/* CARD */
$border-radius-size: 14px;
 .wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &:focus {
    outline: 0;
  }
}



.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;

}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash-card__image--barbarian {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
  img {
    width: 90%;
    height: 90%;
    margin:10px;
  }
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: $barbarian;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
  background: $barbarian;

  .one-third {
     border-right: 1px solid #BD7C2F;
  }
}
.clash-card__unit-stats {

  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

