.nav-bar{
	height: 70px;
	background-color: #252e30;

}

@media only screen and (min-width: 481px) {

	// styles in 1030up.scss
	
	.menu{visibility: hidden;}

} // end of media query

@media only screen and (min-width: 768px) {

	// styles in 1030up.scss
	
.menu{visibility: hidden;}

} // end of media query

@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
		.menu{visibility: visible;}
} // end of media query

