#section-content-cv {
    width: 74.400%;
    position: relative;
    margin-left: 30px;
    .meta-title{
        text-transform: uppercase;
    	font-size: 0.7rem;
    	letter-spacing: 0.3em;
    }
    section {
         padding-top: 60px;
        padding-bottom: 135px;
    }
}

.title-section {
	font-family: "Cinzel-Bold";
    font-size: 1.7rem;
    color: $grey-title;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

@media only screen and (min-width: 481px) {}

@media only screen and (min-width: 768px) {
    .title-section {
        font-size: 2.2rem;

        h3 {
            font-size: 2rem;
        }
    }
    section {
        padding-bottom: 85px;

    }
}


@media only screen and (min-width: 1030px) {

    // styles in 1030up.scss
}