#skills {
    background-color: #f9f9f9f9;
}

.skills-web {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 75px;
    align-items: center;
}


.item-skill {

    position: relative;
    width: 24vh;
    min-height: 291px;
    font-size: 1.2em;
    line-height: 24px;
    margin-bottom: 9vh;
    padding: 22.500px;
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);

    .icons-skills {
        position: absolute;
        top: -20px;
        width: 100px;
        height: 50px;
        text-align: center;
        left: 0;
        display: table;
        background-color: #2c98f0;

        &:before {
            top: -30px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 50px 30px 50px;
            border-color: transparent transparent #2c98f0 transparent;
            position: absolute;
            left: 0;
            right: 0;
            content: '';
        }

        &:after {
            width: 0;
            height: 0;
            border-style: solid;
            bottom: -30px;
            border-width: 30px 50px 0 50px;
            border-color: #2c98f0 transparent transparent transparent;
            position: absolute;
            left: 0;
            right: 0;
            content: '';
        }
    }

    .desc {
        margin-top: 60px;
    }
}

#skills {
    width: 100%;
}

.centered {
    text-align: center;
    margin: 0 auto;

    h3 {
        color: #383838;
        margin-bottom: 10px;
    }
}

.design {
    width: 100%;
    text-align: center;
}

.design-skills {
    width: 100%;
    padding-top: 35px;
    margin: 0 auto;

    img {
        width: 31%
    }

    p {
        margin-top: 15px;
        font-size: 1em;
    }
}

.skills-network {

    margin-left: auto;
    margin-right: auto;

    ul {

        li {
            font-size: 18px;
        }
    }


}

.skill-name {
    color: $grey;
}

.bar {
    margin: auto;


    position: relative;

    .circle {
        position: absolute;
    }

    .percent {
        font-family: Raleway-Bold;
        position: absolute;
    }
}

.skill {
    float: left;
}

@media only screen and (min-width: 481px) {

    // styles in 1030up.scss

    .skill {
        padding-left: 2%;

        ul {

            li {
                padding-left: 0;
            }
        }

    }

}

// end of media query

@media only screen and (min-width: 768px) {

    .skills-web {
        flex-direction: row;
    }

    .skill-name {
        display: inline;
        font-size: 1rem;
    }

    .design-skills {
        width: 25%;
        float: left;
    }

}

// end of media query

@media only screen and (min-width: 1030px) {
    .design-skills {
        img {
            width: 20%;
        }
    }

    // styles in 1030up.scss
    .bar {
        margin-bottom: 20px;

        .percent {
            font-size: 2.5em;
            bottom: 45%;
            left: 35%;
        }
    }






}

// end of media query