#nav-aside {
    background-color: #F2F3F7;
    width: 25.642%;
    top: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 45px;
      display: flex;
       flex-direction: column;

    /*profile picture*/
    .profile-picture {
        display: none;
        margin-bottom: 15px;
        border-radius: 50%;
        width: 15ch;
        height: 15ch;
        background-image: url(../../images/divers/moi.jpg);
        background-size: cover;
        background-position: center center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transition: box-shadow 0.5s;
        will-change: transform;
        margin-left: 27%;
        &:hover {
            box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
        }
    }

    nav {
    	margin-bottom: 20px;
        ul {
            margin: 0;
            padding: 0;
            li{
                cursor: pointer;
            	padding: 5px;
            	font-weight: bold;
            }
        }
    }

    #tel-contact {
        color: #515151;
    }

   
} 
#social-media {
    ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li{
         margin-bottom: 10px;
        }
    }
	a{
		border: 1px solid #606060;
    	border-radius: 5px;
		margin:5px;
		padding: 5px;
		&:hover{
			background-color:#23AEBD;
		}
	}
}

@media only screen and (min-width: 768px){
     #nav-aside{
           padding-bottom: 150px;
           flex-direction: column;
           #social-media {
             ul{
                flex-direction: row;

               }
            }
            .profile-picture {
                display: block;
            }
          
     }
} 